.content{
    background: none;
    margin-top: 21px;
    width: calc(100% + 32px);
    height: calc(100vh - 143px);
    margin-left: -16px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.content::-webkit-scrollbar-track{
    background-color: transparent;
    display: none;
}
.content::-webkit-scrollbar-thumb{
    background-color: #852FA4;
    border-radius: 8px;
    display: none;
}
.content::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
    display: none;
}

.content-page{
    height:100%;
    min-width: 80%;
    max-width: 80%;
    margin: 0 5%;
    background-color: rgb(0, 0, 255);
    animation-timeline: view(x 5% 5%);
    animation-name: appear;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
}

.content-spacer{
    min-width: 5%;
    height: 100%;
    background: none;
}

.content-page:not(:nth-child(3)){
    margin-left: 0;
}
.content-page:not(:nth-last-child(3)){
    margin-right: 0;
}

.content > .content-page {
    scroll-snap-align: center;
}

.content-trigger#trigger-left{
    left:0;
}
.content-trigger#trigger-right{
    right:0;
}
.content-trigger{
    background: none;
    z-index: 999;
    position:fixed;
    width: 7.5%;
    height: inherit;
}

@keyframes appear {
    0% {
      opacity: 0.109;
      transform: scale(0.82);
    }
    5% {
        opacity: 0.109;
        transform: scale(0.82);
      }
    28.3% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    73% {
        opacity: 1;
        transform: scale(1);
    }
    95% {
        opacity: 0.109;
        transform: scale(0.82);
    }
    100% {
        opacity: 0.109;
        transform: scale(0.82);
    }
}


@media (max-width: 600px) {
    .content{
        overflow-y: scroll;
    }
}