.content{
    background: none;
    margin: 21px 0 0 -16px;
    width: calc(100% + 32px);
    height: calc(100vh - 143px);
    margin-left: -16px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: viible;

    scroll-snap-type: none;
    scroll-behavior: smooth;
}

.content::-webkit-scrollbar-track{
    background-color: transparent;
    display: none;
}

.content::-webkit-scrollbar-thumb{
    background-color: #852FA4;
    border-radius: 8px;
    display: none;
}

.content::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
    display: none;
}

.content-page{
    height:100%;
    min-width: 80%;
    max-width: 80%;
    margin: 0 5%;
    animation-timeline: view(x 5% 5%);
    animation-name: appear;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    overflow: visible !important;
}

.content-spacer{
    min-width: 5%;
    height: 100%;
    background: none;
}

.content-page:not(:nth-child(3)){
    margin-left: 0;
}

.content-page:not(:nth-last-child(3)){
    margin-right: 0;
}

.content > .content-page {
    scroll-snap-align: center;
}

.content-trigger#trigger-left{
    left:0;
}

.content-trigger#trigger-right{
    right:0;
}

.content-trigger{
    background: none;
    z-index: 999;
    position:fixed;
    width: 7.5%;
    height: inherit;
}

@keyframes appear {
    0% {
      opacity: 0.5;
      transform: scale(0.82);
    }
    5% {
        opacity: 0.5;
        transform: scale(0.82);
      }
    28.3% {
        opacity: 1;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    73% {
        opacity: 1;
        transform: scale(0.9);
    }
    95% {
        opacity: 0.5;
        transform: scale(0.82);
    }
    100% {
        opacity: 0.5;
        transform: scale(0.82);
    }
}


@media (max-width: 600px) {
    .content{
        overflow-y: scroll;
    }
    /* .content-page{
        height: fit-content;
    } */
}


/* Sections: */

.content-page{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 21px;
}

.content-page-section{
    width: 100%;
    margin-bottom: 6px;
    margin-left:-5px;
    background-color: #a345bb;
    border:5px solid #8d33a6;
    box-shadow: 0 10px 0 -5px #852fa4;
    border-radius: 44px;
}

.anchor{
    position: fixed;
    right:0;
    margin-right:-26.25%;
}